<div class="container--lg">
  <div class="mb-3">
    <%= link_to "â† Back to Products", products_path, class: "link--secondary" %>
  </div>

  <div class="card">
    <div class="grid-2">
      <div class="card-body">
        <h1 class="text-title">
          <%= @product.name %>
        </h1>
      </div>
    </div>
  </div>
</div>
