<div class="container--lg">
  <div class="mb-3">
    <%= link_to "← Back to Products", products_path, class: "link--secondary" %>
  </div>

  <div class="card">
    <div class="grid-2">
      <div class="card-body">
        <h1 class="text-title">
          <%= @product.name %>
        </h1>
          <div class="actions-column">
          <div class="flex gap-2">
            <%= link_to "✏️ Edit", edit_product_path(@product), class: "btn btn--outline-dark btn--block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
